@page "/account"
@page "/account/{Page}"
@attribute [Authorize]
@inject IUserService UserService
@inject IOrderService OrderService
@inject IWishListService WishListService
@inject ILocalStorageService LocalStorageService
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider StateProvider

<PageTitle>Konto</PageTitle>

<style>
    .btn{
        font-size: 1.2rem;
    }
    #account-menu{
        font-size: 1.3rem;
    }
</style>

<div class="row">
    <div class="col-lg-3">
        <div class="m-4 mt-1 p-3">
            <nav class="navbar flex-lg-column navbar-light shadow" id="account-menu">
                @foreach (var item in navigationItems.Items)
                {
                    <a class="nav-link cursorHand" @onclick="() => ChangeViewAsync(item.Path)">@item.Name</a>
                }
            </nav>
        </div>
    </div>
    <div class="col-lg-9 container px-5">
        @switch (Page)
        {
            case "security":
                <h2 class="text-center justify-content-start">Zmień hasło</h2>
                <EditForm Model="changePassword" OnValidSubmit="OnPasswordChangeAsync">
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <h5 for="currentpassword">Aktualne hasło</h5>
                        <InputText id="currentpassword" class="form-control shadow-none" type="password" @bind-Value="changePassword.CurrentPassword" />
                        <ValidationMessage For="@(()=>changePassword.CurrentPassword)" />
                    </div>
                    <div class="mb-3">
                        <h5 for="newpassword">Nowe hasło</h5>
                        <InputText id="password" class="form-control shadow-none" type="password" @bind-Value="changePassword.Password" />
                        <ValidationMessage For="@(()=>changePassword.Password)" />
                    </div>
                    <div>
                        <h5 for="confpassword">Potwierdź nowe hasło</h5>
                        <InputText id="confpassword" class="form-control shadow-none" type="password" @bind-Value="changePassword.ConfPassword" />
                        <ValidationMessage For="@(()=>changePassword.ConfPassword)" />
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button type="submit" class="btn btn-primary shadow-none">Zapisz</button>
                    </div>
                </EditForm>
                break;
            case "delivery-details":
                <h2 class="text-center justify-content-start">Zapisz dane do dostawy</h2>
                <DeliveryDetailsForm DeliveryDetails="delivery" OnValidSubmit="OnValidSubmit" />
                break;
            case "invoice-details":
                <h2 class="text-center justify-content-start">Zapisz dane do faktury</h2>
                <div class="d-flex justify-content-end">
                    <YesNoRadioInput YesLabelText="Firma" NoLabelText="Osoba prywatna"
                                     OnValueChanged="InvoiceChanged"></YesNoRadioInput>
                </div>
                @if (isInvoiceForBusiness)
                {
                    <InvoiceDetailsForBusinessForm InvoiceDetailsForBusiness="invoiceDetailsForBusiness" OnValidSubmit="OnValidSubmit" />
                }
                else
                {
                    <InvoiceDetailsForm InvoiceDetails="invoiceDetails" OnValidSubmit="OnValidSubmit" />
                }
                break;
            case "wish-list":
                <h2 class="text-center justify-content-start">Lista życzeń</h2>
                @foreach (var item in wishList.List)
                {
                    <h2>@item.Date @item.ProductId</h2>
                }
                break;
            default:
                @foreach(var order in orderList)
                {
                    <div class="shadow rounded p-3 mb-2 cursorHand">
                        <h3>Zamówienie @order.Id</h3>
                        <div class="row">
                            <div class="col-md-6">
                                 <div class="ps-2">
                                    <h4>Status: @order.State</h4>
                                    <h4>Suma: @order.Total zł</h4>
                                    <h4>Data złożenia: @order.OrderDate.ToString("dd-MM-yyyy")</h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    @foreach (var item in @order.CartItems.Take(3))
                                    {
                                        <li>@item.Price @item.Quantity</li>
                                    }
                                    @if(@order.CartItems.Count > 3)
                                    {
                                        <li>...</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                break;
        }
    </div>
</div>
