@page "/cart"
@inject ICartService CartService
@implements IDisposable

<PageTitle>Koszyk</PageTitle>

<style>
    .cart-img {
        overflow: hidden;
        max-width: 250px;
    }

    .item-row {
        min-height: 225px;
    }

    #cart-containter {
        font-size: 1.4rem;
    }

    .product-name {
        opacity: 0.85;
    }

    .product-name:hover {
        opacity: 1;
    }

    @@media (max-width: 1199px) {
        #cart-options {
            top: 0em;
        }
    }

    @@media (min-width: 1200px) {
        #cart-options {
            top: 5.5em;
        }
    }
</style>

@if (productCartItems != null && productCartItems.Count > 0)
{
    <div id="cart-containter" class="container-fluid">
        <div class="row mx-1 mx-xl-3">
            <div class="col-xl-8">

                <h1>Twój koszyk</h1>
                @foreach (var p in productCartItems.OrderBy(x => $"{x.Product.Manufacturer} {x.Product.Name}"))
                {
                    <div>
                        <div class="position-relative">
                            <button class="position-absolute btn-close top-0 end-0 mt-2 shadow-none" @onclick="()=>OnItemRemoveAsync(p.Product.Id)"></button>
                        </div>
                        <div class="row row-cols-2 row-cols-lg-4 item-row align-items-center rounded shadow mt-4 pt-4 pt-sm-0">
                            <div class="col-5 col-lg-3 py-4">
                                <div class="d-flex cart-img">
                                    <img src="@p.Product.Images?.FirstOrDefault()?.Location" class="card-img-top cursorHand" @onclick="()=>GoToProductPage(p.Product.Id)">
                                </div>
                            </div>
                            <div class="col-7 col-lg-5 py-4 text-center product-name">
                                <span class="cursorHand" @onclick="()=>GoToProductPage(p.Product.Id)">@p.Product.Manufacturer&nbsp;@p.Product.Name</span>
                            </div>
                            <div class="col-6 col-lg-2 py-4 text-end text-lg-center">
                                <div class="d-flex justify-content-end justify-content-lg-center">
                                    <div>
                                        @if (p.Product.Price < p.Product.PriceBeforeDiscount)
                                        {
                                            <div class="align-middle">
                                                <span class="text-muted text-decoration-line-through" style="font-size: 1.1rem">@p.Product.PriceBeforeDiscount zł</span>
                                                <span class="text-primary">&nbsp;-@(decimal.ToInt32((p.Product.PriceBeforeDiscount - p.Product.Price) / p.Product.PriceBeforeDiscount * 100))%</span>
                                            </div>
                                        }
                                        <span class="text-end">@p.Product.Price zł</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-2">
                                <div class="d-flex justify-content-start justify-content-lg-center">
                                    <div style="max-width: 125px;">
                                        <NumericUpDown InitValue="p.Quantity" MaxValue="99" MinValue="1" OnValueChanged="@((args)=>OnValueChangedAsync(args,p.Product.Id))" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="mt-2 w-100 text-end">
                    <button class="btn btn-primary" @onclick="ClearCartAsync">Wyczyść wszystko</button>
                </div>
            </div>
            <div class="col-xl-4 p-0">
                <div id="cart-options" class="m-xl-3 p-2 p-xxl-4 mt-3 mt-xl-0 pt-xl-2 shadow rounded sticky-top">
                    <div class="d-flex justify-content-between">
                        <h3 class="m-0">Łączna kwota</h3>
                        <h3>@total zł</h3>
                    </div>
                    <button type="button" class="btn w-100 btn-primary shadow-none mt-3" style="font-size: 1.4rem;" @onclick="GoToSummaryPage">Dostawa</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container align-items-center justify-content-center">
        <div class="text-center p-3 rounded shadow">
            <h2>Twój koszyk jest pusty</h2>
            <h4>Dodaj do niego nowe produkty!</h4>
        </div>
    </div>
}