@page "/summary"
@inject ICartService CartService
@inject IToastService ToastService
@inject IOrderService OrderService
@inject IUserDetailsService UserDetails
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider StateProvider

<PageTitle>@title</PageTitle>

<style>
    .cart-img {
        overflow: hidden;
        max-width: 250px;
    }

    .item-row {
        min-height: 225px;
    }

    #summary-containter {
        font-size: 1.4rem;
    }

    #details-summary {
        font-size: 1.2rem;
    }

        #details-summary h4 {
            margin-bottom: 0;
            margin-top: 0.7rem;
            font-size: 1.5rem;
        }

    #summary-containter .btn {
        font-size: 1.3rem;
    }

    .product-name {
        opacity: 0.85;
    }

        .product-name:hover {
            opacity: 1;
        }

    @@media (max-width: 1199px) {
        #details-summary div {
            top: 0em;
        }
    }

    @@media (min-width: 1200px) {
        #details-summary div {
            top: 5.5em;
        }
    }
</style>

@if (productCartItems != null && productCartItems.Count > 0)
{
    <div id="summary-containter" class="container">
        @switch (currentStep)
        {
            case 0:
                <h2>Dane do dostawy</h2>
                <div class="m-3">
                    <DeliveryDetailsForm DeliveryDetails="deliveryDetails" ButtonText="Kontynuuj" OnValidSubmit="NextStep" />
                </div>
                break;
            case 1:
                <h2>Dane do faktruy</h2>
                <div class="form-check ms-2">
                    <input id="show-details-cb" type="checkbox" class="form-check-input shadow-none" @bind="showInvoiceForm" />
                    <label class="form-check-label" for="show-details-cb">Potrzebuję fakturę na firmę lub inne dane</label>
                </div>
                @if (showInvoiceForm)
                {
                    <InvoiceDetailsForm InvoiceDetails="invoiceDetails" ButtonText="Podsumowanie" OnValidSubmit="SaveInvoiceDetails" />
                }
                else
                {
                    <div class="text-end">
                        <button type="button" class="btn btn-primary" @onclick="NextStep">Podsuwmowanie</button>
                    </div>
                }
                break;
            case 2:
                <div class="row mx-1 mx-xl-3">
                    <h1>Podsumowanie</h1>
                    <div class="col-xl-8">
                        @foreach (var p in productCartItems.OrderBy(x => $"{x.Product.Manufacturer} {x.Product.Name}"))
                        {
                            <div>
                                <div class="row row-cols-2 row-cols-lg-3 item-row align-items-center rounded shadow mt-4 pt-4 pt-sm-0">
                                    <div class="col-5 col-lg-3 py-4">
                                        <div class="d-flex cart-img">
                                            <img src="@p.Product.Images?.FirstOrDefault()?.Location" alt="Zdjęcie produktu" class="card-img-top cursorHand" @onclick="() => GoToProductPage(p.Product.Id)">
                                        </div>
                                    </div>
                                    <div class="col-7 col-lg-6 py-4 text-center product-name">
                                        <span class="cursorHand" @onclick="() => GoToProductPage(p.Product.Id)">@p.Product.Manufacturer&nbsp;@p.Product.Name</span>
                                    </div>
                                    <div class="col-6 col-lg-1">
                                        <div class="text-end text-lg-center">
                                            <span>@p.Quantity</span>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-2 py-4 text-end text-lg-center">
                                        <div class="d-flex justify-content-start justify-content-lg-center">
                                            <div class="text-center">
                                                @if (p.Product.Price < p.Product.PriceBeforeDiscount)
                                                {
                                                    <div class="align-middle">
                                                        <span class="text-muted text-decoration-line-through" style="font-size: 1.1rem">@(p.Product.PriceBeforeDiscount * p.Quantity) zł</span>
                                                        <span class="text-primary">&nbsp;-@(decimal.ToInt32((p.Product.PriceBeforeDiscount - p.Product.Price) / p.Product.PriceBeforeDiscount * 100))%</span>
                                                    </div>
                                                }
                                                <span>@(p.Product.Price * p.Quantity) zł</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-xl-4" id="details-summary">
                        <div class="m-xl-3 p-3 p-xxl-4 mt-3 mt-xl-0 pt-xl-2 shadow rounded sticky-top">
                            <DisplayDeliveryDetails DeliveryDetails="deliveryDetails" />
                            <DisplayInvoiceDetails InvoiceDetails="invoiceDetails" InvoiceDetailsAdded="invoiceDetailsAdded" />
                            <h3 class="mt-3">Suma: @total zł</h3>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary w-100 shadow-none" @onclick="EndAsync">Zapłać</button>
                            </div>
                        </div>
                    </div>
                </div>
                break;

            default:
                break;
        }
    </div>
}
else
{
    <div class="container align-items-center justify-content-center">
        <div class="text-center p-3 rounded shadow">
            <h2>Twój koszyk jest pusty</h2>
            <h4>Dodaj do niego nowe produkty!</h4>
        </div>
    </div>
}
