@if (cabelProduct != null)
{
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent
            </div>
            <div class="col-sm-6">
                @cabelProduct.Manufacturer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @cabelProduct.Name
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Typ
            </div>
            <div class="col-sm-6">
                @cabelProduct.CabelType
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Złącza
            </div>
            <div class="col-sm-6">
                @cabelProduct.ConnectorA / @cabelProduct.ConnectorB
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Długość
            </div>
            <div class="col-sm-6">
               @cabelProduct.Lenghtmm mm
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Kolor
            </div>
            <div class="col-sm-6">
               @cabelProduct.Color
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Długość gwarancji
            </div>
            <div class="col-sm-6">
                @cabelProduct.WarantyMonths mies.
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private ICableProduct? cabelProduct;

    protected override void OnParametersSet()
    {
        if (Product != null && Product is ICableProduct)
            cabelProduct = Product as ICableProduct;
        base.OnParametersSet();
    }
}