@if(caseProduct != null)
{
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent
            </div>
            <div class="col-sm-6">
                @caseProduct.Manufacturer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @caseProduct.Name
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Wymiary
            </div>
            <div class="col-sm-6">
                @caseProduct.Lenghtmm/@caseProduct.Widthmm/@caseProduct.Heightmm mm
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Maksymalna długość karty graficznej
            </div>
            <div class="col-sm-6">
                @caseProduct.MaxGpuLenghtmm mm
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Maksymalna wysokość chłodzenia
            </div>
            <div class="col-sm-6">
                @caseProduct.MaxCoolerHeightmm mm
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Maksymalny rozmiar radiatora
            </div>
            <div class="col-sm-6">
                @caseProduct.MaxRadiatorSizemm mm
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Liczba portów USB
            </div>
            <div class="col-sm-6">
                @caseProduct.UsbPorts
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Kolor
            </div>
            <div class="col-sm-6">
                @caseProduct.Color
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Długość gwarancji
            </div>
            <div class="col-sm-6">
                @caseProduct.WarantyMonths mies.
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private IComputerCaseProduct? caseProduct;

    protected override void OnParametersSet()
    {
        if (Product != null && Product is IComputerCaseProduct)
            caseProduct = Product as IComputerCaseProduct;
        base.OnParametersSet();
    }
}