@using ComputerShop.Shared.Models.Components;

@if (coolerProduct != null)
{
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent
            </div>
            <div class="col-sm-6">
                @coolerProduct.Manufacturer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @coolerProduct.Name
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Rodzaj chłodzenia
            </div>
            <div class="col-sm-6">
                @coolerProduct.CoolerType
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Kompatybilne gniazda
            </div>
            <div class="col-sm-6">
                <PrintList List="coolerProduct.CompatibleSockets"/>
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Liczba wentylatorów
            </div>
            <div class="col-sm-6">
                @coolerProduct.FansCount
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                @if (coolerProduct.CoolerType == CoolerTypes.WaterCooler)
                {
                    <span>Rozmiar chłodnicy</span>
                }
                else
                {
                    <span>Wysokość</span>
                }
            </div>
            <div class="col-sm-6">
                @coolerProduct.Sizemm mm
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Długość gwarancji
            </div>
            <div class="col-sm-6">
                @coolerProduct.WarantyMonths mies.
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private IDesktopCoolerProduct? coolerProduct;

    protected override void OnParametersSet()
    {
        if (Product != null && Product is IDesktopCoolerProduct)
            coolerProduct = Product as IDesktopCoolerProduct;
        base.OnParametersSet();
    }
}
