@if (desktopPC != null)
{
    <h4>Procesor</h4>
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @desktopPC.Cpu.Manufacturer @desktopPC.Cpu.Name
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Taktowanie
            </div>
            <div class="col-sm-6">
                @desktopPC.Cpu.FrequencyMHz MHz
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Liczba rdzeni/wątków
            </div>
            <div class="col-sm-6">
                @desktopPC.Cpu.CoresCount/@desktopPC.Cpu.ThreadsCount
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Pamięć cache L3
            </div>
            <div class="col-sm-6">
                @desktopPC.Cpu.L3CacheMB MB
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                TDP
            </div>
            <div class="col-sm-6">
                @desktopPC.Cpu.Tdp W
            </div>
        </div>
    </div>
    <h4>Karta graficzna</h4>
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @desktopPC.Gpu.ChipManufacturer @desktopPC.Gpu.Manufacturer @desktopPC.Gpu.Name
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Taktowanie
            </div>
            <div class="col-sm-6">
                @desktopPC.Gpu.FrequencyMHz MHz
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Rodzaj pamięci
            </div>
            <div class="col-sm-6">
                @desktopPC.Gpu.VramType
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Takowanie pamięci
            </div>
            <div class="col-sm-6">
                @desktopPC.Gpu.MemoryFrequencyMHz MHz
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Rozmiar pamięci
            </div>
            <div class="col-sm-6">
                @desktopPC.Gpu.VramSizeGB GB
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                TDP
            </div>
            <div class="col-sm-6">
                @desktopPC.Gpu.Tdp W
            </div>
        </div>
    </div>
    <h4>Płyta główna</h4>
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @desktopPC.Motherboard.Manufacturer @desktopPC.Motherboard.Name
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Chipset
            </div>
            <div class="col-sm-6">
                @desktopPC.Motherboard.Chipset
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Typ wspieranej pamięci
            </div>
            <div class="col-sm-6">
                @desktopPC.Motherboard.RamType
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Liczba slotów dla pamięci
            </div>
            <div class="col-sm-6">
                @desktopPC.Motherboard.RamSlotsCount
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Liczba gniazd USB-C
            </div>
            <div class="col-sm-6">
                @desktopPC.Motherboard.UsbCCount
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Liczba gniazd USB 2.0
            </div>
            <div class="col-sm-6">
                @desktopPC.Motherboard.Usb2Count
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Liczba gniazd USB 3.2 gen 1
            </div>
            <div class="col-sm-6">
                @desktopPC.Motherboard.Usb3Gen1Count
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Liczba gniazd USB 3.2 gen 2
            </div>
            <div class="col-sm-6">
                @desktopPC.Motherboard.Usb3Gen2Count
            </div>
        </div>
    </div>
    <h4>Pamięć RAM</h4>
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                RAM
            </div>
            <div class="col-sm-6">
                @desktopPC.Ram.Manufacturer @desktopPC.Ram.Name
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Typ pamęci
            </div>
            <div class="col-sm-6">
                @desktopPC.Ram.RamTechnology
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Liczba modułów
            </div>
            <div class="col-sm-6">
                @desktopPC.Ram.ModulesNumber
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Taktowanie
            </div>
            <div class="col-sm-6">
                @desktopPC.Ram.FrequencyMHz MHz
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Opóźnienia
            </div>
            <div class="col-sm-6">
                @desktopPC.Ram.LatencyCL CL
            </div>
        </div>
    </div>
    <h4>Dyski</h4>
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Zainstalowane dyski
            </div>
            <div class="col-sm-6">
                @if (desktopPC.Drives != null && desktopPC.Drives.Count > 0)
                {
                    <ul class="m-0 p-0" style="list-style: none;">
                         @foreach (var drive in @desktopPC.Drives)
                          {
                              <li class="m-0">@drive.Manufacturer @drive.Type @drive.CapacityGB GB</li>
                          }
                    </ul>
                }
                else
                {
                    <span class="m-0">Brak danych</span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-sm-center text-md-end">
                Szybkość odczytu / zapisu
            </div>
            <div class="col-sm-6">
                @if (desktopPC.Drives != null && desktopPC.Drives.Count > 0)
                {
                    <ul class="m-0 p-0" style="list-style: none;">
                        @foreach (var drive in @desktopPC.Drives)
                        {
                            <li class="m-0">@drive.ReadSpeedMBs / @drive.WriteSpeedMBs MB/s</li>
                        }
                    </ul>                    
                }
                else
                {
                    <span class="m-0">Brak danych</span>
                }
            </div>
        </div>
    </div>
    <h4>Zasilacz</h4>
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent
            </div>
            <div class="col-sm-6">
                @desktopPC.Psu.Manufacturer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Moc
            </div>
            <div class="col-sm-6">
                @desktopPC.Psu.Power W
            </div>
        </div>
    </div>
    <h4>Obudowa</h4>
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @desktopPC.DesktopCase.Manufacturer @desktopPC.DesktopCase.Name
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Wymiary
            </div>
            <div class="col-sm-6">
                @desktopPC.DesktopCase.Lenghtmm/@desktopPC.DesktopCase.Widthmm/@desktopPC.DesktopCase.Heightmm mm
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Liczba portów USB
            </div>
            <div class="col-sm-6">
                @desktopPC.DesktopCase.UsbPorts
            </div>
        </div>
    </div>
    <h4>Chłodzenie</h4>
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @desktopPC.Cooler.Manufacturer @desktopPC.Cooler.Name
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Typ
            </div>
            <div class="col-sm-6">
                @desktopPC.Cooler.CoolerType
            </div>
        </div>
    </div>
    <h4>Pozostałe</h4>
    <div class="row">
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent komputera
            </div>
            <div class="col-sm-6">
                @desktopPC.Manufacturer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Pobór energii
            </div>
            <div class="col-sm-6">
                @desktopPC.PowerConsumption W
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Długość gwarancji
            </div>
            <div class="col-sm-6">
                @desktopPC.WarantyMonths mies.
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private IDesktopPcProduct? desktopPC;

    protected override void OnParametersSet()
    {
        if (Product != null)
        {
            desktopPC = Product as IDesktopPcProduct;
        }
        base.OnParametersSet();
    }
}