@if(cpuProduct != null)
{
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent
            </div>
            <div class="col-sm-6">
                @cpuProduct.Manufacturer 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @cpuProduct.Name
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Taktowanie
            </div>
            <div class="col-sm-6">
                @cpuProduct.FrequencyMHz MHz
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Liczba rdzeni/wątków
            </div>
            <div class="col-sm-6">
                @cpuProduct.CoresCount/@cpuProduct.ThreadsCount
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Gniazdo
            </div>
            <div class="col-sm-6">
                @cpuProduct.SupportedSocket
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Wspierane chipsety
            </div>
            <div class="col-sm-6">
                @foreach (var item in cpuProduct.SupportedChipsets)
                {
                    @item
                }
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Pamięć cache L3
            </div>
            <div class="col-sm-6">
                @cpuProduct.L3CacheMB MB
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                TDP
            </div>
            <div class="col-sm-6">
                @cpuProduct.Tdp W
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private ICpuProduct? cpuProduct;

    protected override void OnParametersSet()
    {
        if (Product != null && Product is ICpuProduct)
            cpuProduct = Product as ICpuProduct;
        base.OnParametersSet();
    }
}