@if (gpuProduct != null)
{
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent i model
            </div>
            <div class="col-sm-6">
                @gpuProduct.Manufacturer @gpuProduct.Name
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Producent GPU
            </div>
            <div class="col-sm-6">
                @gpuProduct.ChipManufacturer
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Taktowanie GPU
            </div>
            <div class="col-sm-6">
                @gpuProduct.FrequencyMHz MHz
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Takowanie pamięci
            </div>
            <div class="col-sm-6">
                @gpuProduct.MemoryFrequencyMHz MHz
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Rozmiar pamięci
            </div>
            <div class="col-sm-6">
                @gpuProduct.VramSizeGB GB
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Rodzaj pamięci
            </div>
            <div class="col-sm-6">
                @gpuProduct.VramType
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Porty
            </div>
            <div class="col-sm-6">
                <PrintList List="gpuProduct.PortsList"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Zasilanie
            </div>
            <div class="col-sm-6">
                <PrintList List="gpuProduct.PowerConnectors" />
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                TDP
            </div>
            <div class="col-sm-6">
                @gpuProduct.Tdp W
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Długość
            </div>
            <div class="col-sm-6">
                @gpuProduct.Lenghtmm mm
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Gwarancja
            </div>
            <div class="col-sm-6">
                @gpuProduct.WarantyMonths mies.
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private IDesktopGpuProduct? gpuProduct;

    protected override void OnParametersSet()
    {
        if (Product != null)
            gpuProduct = Product as IDesktopGpuProduct;
        base.OnParametersSet();
    }
}


