@if (hddProduct != null)
{
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent
            </div>
            <div class="col-sm-6">
                @hddProduct.Manufacturer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @hddProduct.Name
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Typ
            </div>
            <div class="col-sm-6">
                @hddProduct.Type 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Prędkość odczytu
            </div>
            <div class="col-sm-6">
                @hddProduct.ReadSpeedMBs MB/s
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Prędkość zapisu
            </div>
            <div class="col-sm-6">
                @hddProduct.WriteSpeedMBs MB/s
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Prędkość obrotowa
            </div>
            <div class="col-sm-6">
                @hddProduct.Rpm obr./min
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Interfejs
            </div>
            <div class="col-sm-6">
                @hddProduct.Interface
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Gwarancja
            </div>
            <div class="col-sm-6">
                @hddProduct.WarantyMonths mies.
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private IHddProduct? hddProduct;

    protected override void OnParametersSet()
    {
        if (Product != null && Product is IHddProduct)
            hddProduct = Product as IHddProduct;
        base.OnParametersSet();
    }
}