@if (headphonesProduct != null)
{
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent
            </div>
            <div class="col-sm-6">
                @headphonesProduct.Manufacturer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @headphonesProduct.Name
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Bezprzewodowe
            </div>
            <div class="col-sm-6">
                <PrintTrueFalse Value="headphonesProduct.IsWireless" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Rodzaj słuchawek
            </div>
            <div class="col-sm-6">
                @headphonesProduct.HeadphonesType
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Impedancja
            </div>
            <div class="col-sm-6">
                @headphonesProduct.ImpedanceOhm Ohm
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Impedancja
            </div>
            <div class="col-sm-6">
                @headphonesProduct.MinFrequencyResponseHz Hz - @headphonesProduct.MaxFrequencyResponsekHz kHz
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Interfejs
            </div>
            <div class="col-sm-6">
                @headphonesProduct.Interface
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Rozmiar
            </div>
            <div class="col-sm-6">
                @headphonesProduct.Lenghtmm / @headphonesProduct.Widthmm / @headphonesProduct.Heightmm mm
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Waga
            </div>
            <div class="col-sm-6">
                @headphonesProduct.Weightg g
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Długość gwarancji
            </div>
            <div class="col-sm-6">
                @headphonesProduct.WarantyMonths mies.
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private IHeadphonesProduct? headphonesProduct;

    protected override void OnParametersSet()
    {
        if (Product != null && Product is IHeadphonesProduct)
            headphonesProduct = Product as IHeadphonesProduct;
        base.OnParametersSet();
    }
}
