@if (keyboardProduct != null)
{
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent
            </div>
            <div class="col-sm-6">
                @keyboardProduct.Manufacturer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @keyboardProduct.Name
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Bezprzewodowa
            </div>
            <div class="col-sm-6">
                <PrintTrueFalse Value="keyboardProduct.IsWireless" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Rodzaj
            </div>
            <div class="col-sm-6">
                @keyboardProduct.KeyboardType
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Rozmiar
            </div>
            <div class="col-sm-6">
                @keyboardProduct.Size
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Interfejs
            </div>
            <div class="col-sm-6">
                @keyboardProduct.Interface
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Rozmiar
            </div>
            <div class="col-sm-6">
                @keyboardProduct.Lenghtmm / @keyboardProduct.Widthmm / @keyboardProduct.Heightmm mm
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Waga
            </div>
            <div class="col-sm-6">
                @keyboardProduct.Weightg g
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Kolor
            </div>
            <div class="col-sm-6">
                @keyboardProduct.Color
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Długość gwarancji
            </div>
            <div class="col-sm-6">
                @keyboardProduct.WarantyMonths mies.
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private IKeyboardProduct? keyboardProduct;

    protected override void OnParametersSet()
    {
        if (Product != null && Product is IKeyboardProduct)
            keyboardProduct = Product as IKeyboardProduct;
        base.OnParametersSet();
    }
}
