@if (monitorProduct != null)
{
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent
            </div>
            <div class="col-sm-6">
                @monitorProduct.Manufacturer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @monitorProduct.Name
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Panel
            </div>
            <div class="col-sm-6">
                @monitorProduct.PanelType
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Proporcje ekranu
            </div>
            <div class="col-sm-6">
                @monitorProduct.AspectRatio
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Odświeżanie
            </div>
            <div class="col-sm-6">
                @monitorProduct.RefreshRateHz Hz               
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Rozdzielczość
            </div>
            <div class="col-sm-6">
                @monitorProduct.ResolutionXpx x @monitorProduct.ResolutionYpx px
            </div>
        </div>
        <div class="row  bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Kontrast
            </div>
            <div class="col-sm-6">
                @monitorProduct.Contrast : 1            
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Pokrycie przestrzeni SRGB
            </div>
            <div class="col-sm-6">
                @monitorProduct.SrgbColorSpacePerc% SRGB
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Czas reakcji
            </div>
            <div class="col-sm-6">
                @monitorProduct.ResponseTimems ms    
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Porty
            </div>
            <div class="col-sm-6">
                <PrintList List="@monitorProduct.Ports" />
            </div>
        </div>
        <div class="row  bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Waga
            </div>
            <div class="col-sm-6">
                @monitorProduct.Lenghtmm / @monitorProduct.Widthmm / @monitorProduct.Heightmm mm
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Długość gwarancji
            </div>
            <div class="col-sm-6">
                @monitorProduct.WarantyMonths mies.
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private IMonitorProduct? monitorProduct;

    protected override void OnParametersSet()
    {
        if (Product != null && Product is IMonitorProduct)
            monitorProduct = Product as IMonitorProduct;
        base.OnParametersSet();
    }
}