@if (mouseProduct != null)
{
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent
            </div>
            <div class="col-sm-6">
                @mouseProduct.Manufacturer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @mouseProduct.Name
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Bezprzewodowa
            </div>
            <div class="col-sm-6">
                <PrintTrueFalse Value="mouseProduct.IsWireless"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Odświeżanie
            </div>
            <div class="col-sm-6">
                @mouseProduct.PollingRateHz Hz
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Sensor (typ)
            </div>
            <div class="col-sm-6">
                @mouseProduct.Sensor (@mouseProduct.SensorType)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Maksymalne DPI
            </div>
            <div class="col-sm-6">
                @mouseProduct.MaxDpi
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Interfejs
            </div>
            <div class="col-sm-6">
                @mouseProduct.Interface
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Rozmiar
            </div>
            <div class="col-sm-6">
                @mouseProduct.Lenghtmm / @mouseProduct.Widthmm / @mouseProduct.Heightmm mm
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Waga
            </div>
            <div class="col-sm-6">
                @mouseProduct.Weightg g
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Kolor
            </div>
            <div class="col-sm-6">
                @mouseProduct.Color
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Długość gwarancji
            </div>
            <div class="col-sm-6">
                @mouseProduct.WarantyMonths mies.
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private IComputerMouseProduct? mouseProduct;

    protected override void OnParametersSet()
    {
        if (Product != null && Product is IComputerMouseProduct)
            mouseProduct = Product as IComputerMouseProduct;
        base.OnParametersSet();
    }
}