@if (printerProduct != null)
{
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent
            </div>
            <div class="col-sm-6">
                @printerProduct.Manufacturer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @printerProduct.Name
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Posiada Wi-Fi
            </div>
            <div class="col-sm-6">
                <PrintTrueFalse Value="printerProduct.HasWiFi" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Kolorowy wydruk
            </div>
            <div class="col-sm-6">
                <PrintTrueFalse Value="printerProduct.HasMulticolour" />
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Posiada skaner
            </div>
            <div class="col-sm-6">
                <PrintTrueFalse Value="printerProduct.HasScanner" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Interfejsy
            </div>
            <div class="col-sm-6">
                <PrintList List="printerProduct.Interfaces"/>
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Prędkość drukowania
            </div>
            <div class="col-sm-6">
                @printerProduct.PrintSpeedPgpmin stron/min
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Typ drukarki
            </div>
            <div class="col-sm-6">
                @printerProduct.Technology
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Wspierane rozmiary papieru
            </div>
            <div class="col-sm-6">
                <PrintList List="printerProduct.SupportedFormats" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Rozmiar
            </div>
            <div class="col-sm-6">
                @printerProduct.Lenghtmm / @printerProduct.Widthmm / @printerProduct.Heightmm mm
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Długość gwarancji
            </div>
            <div class="col-sm-6">
                @printerProduct.WarantyMonths mies.
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private IPrinterProduct? printerProduct;

    protected override void OnParametersSet()
    {
        if (Product != null && Product is IPrinterProduct)
            printerProduct = Product as IPrinterProduct;
        base.OnParametersSet();
    }
}
