@if (ssdProduct != null)
{
    <div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Producent
            </div>
            <div class="col-sm-6">
                @ssdProduct.Manufacturer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Model
            </div>
            <div class="col-sm-6">
                @ssdProduct.Name
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Typ
            </div>
            <div class="col-sm-6">
                @ssdProduct.Type
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Prędkość odczytu
            </div>
            <div class="col-sm-6">
                @ssdProduct.ReadSpeedMBs MB/s
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                Prędkość zapisu
            </div>
            <div class="col-sm-6">
                @ssdProduct.WriteSpeedMBs MB/s
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Interfejs
            </div>
            <div class="col-sm-6">
                @ssdProduct.Interface
            </div>
        </div>
        <div class="row bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="col-sm-6 text-md-end">
                TBW
            </div>
            <div class="col-sm-6">
                @ssdProduct.Tbw TB
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-md-end">
                Gwarancja
            </div>
            <div class="col-sm-6">
                @ssdProduct.WarantyMonths mies.
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public IProduct? Product { get; set; }
    private ISsdProduct? ssdProduct;

    protected override void OnParametersSet()
    {
        if (Product != null && Product is ISsdProduct)
            ssdProduct = Product as ISsdProduct;
        base.OnParametersSet();
    }
}